-- MySQL dump 10.13  Distrib 8.0.33, for Win64 (x86_64)
--
-- Host: localhost    Database: umamusume
-- ------------------------------------------------------
-- Server version	8.0.33

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'ROLE_ADMIN'),(2,'ROLE_USER');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `uma`
--

DROP TABLE IF EXISTS `uma`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `uma` (
  `gametora_id` bigint NOT NULL,
  `uma_name` varchar(255) DEFAULT NULL,
  `star` tinyint DEFAULT NULL,
  `is_alter` varchar(255) DEFAULT NULL,
  `alter_theme` varchar(255) DEFAULT NULL,
  `release_date` varchar(255) DEFAULT NULL,
  `height` smallint DEFAULT NULL,
  `three_size_bust` smallint DEFAULT NULL,
  `three_size_waist` smallint DEFAULT NULL,
  `three_size_hips` smallint DEFAULT NULL,
  `surface_turf` char(1) DEFAULT NULL,
  `surface_dirt` char(1) DEFAULT NULL,
  `distance_short` char(1) DEFAULT NULL,
  `distance_mile` char(1) DEFAULT NULL,
  `distance_medium` char(1) DEFAULT NULL,
  `distance_long` char(1) DEFAULT NULL,
  `strategy_runner` char(1) DEFAULT NULL,
  `strategy_leader` char(1) DEFAULT NULL,
  `strategy_betweener` char(1) DEFAULT NULL,
  `strategy_chaser` char(1) DEFAULT NULL,
  `initial_base_stats_speed` smallint DEFAULT NULL,
  `initial_base_stats_stamina` smallint DEFAULT NULL,
  `initial_base_stats_power` smallint DEFAULT NULL,
  `initial_base_stats_guts` smallint DEFAULT NULL,
  `initial_base_stats_wisdom` smallint DEFAULT NULL,
  `upgraded_base_stats_speed` smallint DEFAULT NULL,
  `upgraded_base_stats_stamina` smallint DEFAULT NULL,
  `upgraded_base_stats_power` smallint DEFAULT NULL,
  `upgraded_base_stats_guts` smallint DEFAULT NULL,
  `upgraded_base_stats_wisdom` smallint DEFAULT NULL,
  `stat_bonuses_speed` double DEFAULT NULL,
  `stat_bonuses_stamina` double DEFAULT NULL,
  `stat_bonuses_power` double DEFAULT NULL,
  `stat_bonuses_guts` double DEFAULT NULL,
  `stat_bonuses_wisdom` double DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `uma`
--

LOCK TABLES `uma` WRITE;
/*!40000 ALTER TABLE `uma` DISABLE KEYS */;
/*!40000 ALTER TABLE `uma` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `umamusumeaptitude`
--

DROP TABLE IF EXISTS `umamusumeaptitude`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `umamusumeaptitude` (
  `gametora_id` int NOT NULL,
  `surface_turf` char(1) DEFAULT NULL,
  `surface_dirt` char(1) DEFAULT NULL,
  `distance_short` char(1) DEFAULT NULL,
  `distance_mile` char(1) DEFAULT NULL,
  `distance_medium` char(1) DEFAULT NULL,
  `distance_long` char(1) DEFAULT NULL,
  `strategy_runner` char(1) DEFAULT NULL,
  `strategy_leader` char(1) DEFAULT NULL,
  `strategy_betweener` char(1) DEFAULT NULL,
  `strategy_chaser` char(1) DEFAULT NULL,
  PRIMARY KEY (`gametora_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `umamusumeaptitude`
--

LOCK TABLES `umamusumeaptitude` WRITE;
/*!40000 ALTER TABLE `umamusumeaptitude` DISABLE KEYS */;
/*!40000 ALTER TABLE `umamusumeaptitude` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `umamusumebio`
--

DROP TABLE IF EXISTS `umamusumebio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `umamusumebio` (
  `gametora_id` int NOT NULL,
  `uma_name` varchar(50) DEFAULT NULL,
  `star` tinyint DEFAULT NULL,
  `is_alter` varchar(3) DEFAULT NULL,
  `alter_theme` varchar(50) DEFAULT NULL,
  `release_date` date DEFAULT NULL,
  `height` smallint DEFAULT NULL,
  `three_size_bust` smallint DEFAULT NULL,
  `three_size_waist` smallint DEFAULT NULL,
  `three_size_hips` smallint DEFAULT NULL,
  PRIMARY KEY (`gametora_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `umamusumebio`
--

LOCK TABLES `umamusumebio` WRITE;
/*!40000 ALTER TABLE `umamusumebio` DISABLE KEYS */;
/*!40000 ALTER TABLE `umamusumebio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `umamusumestats`
--

DROP TABLE IF EXISTS `umamusumestats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `umamusumestats` (
  `gametora_id` int NOT NULL,
  `initial_base_stats_speed` smallint DEFAULT NULL,
  `initial_base_stats_stamina` smallint DEFAULT NULL,
  `initial_base_stats_power` smallint DEFAULT NULL,
  `initial_base_stats_guts` smallint DEFAULT NULL,
  `initial_base_stats_wisdom` smallint DEFAULT NULL,
  `upgraded_base_stats_speed` smallint DEFAULT NULL,
  `upgraded_base_stats_stamina` smallint DEFAULT NULL,
  `upgraded_base_stats_power` smallint DEFAULT NULL,
  `upgraded_base_stats_guts` smallint DEFAULT NULL,
  `upgraded_base_stats_wisdom` smallint DEFAULT NULL,
  `stat_bonuses_speed` double DEFAULT NULL,
  `stat_bonuses_stamina` double DEFAULT NULL,
  `stat_bonuses_power` double DEFAULT NULL,
  `stat_bonuses_guts` double DEFAULT NULL,
  `stat_bonuses_wisdom` double DEFAULT NULL,
  PRIMARY KEY (`gametora_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `umamusumestats`
--

LOCK TABLES `umamusumestats` WRITE;
/*!40000 ALTER TABLE `umamusumestats` DISABLE KEYS */;
/*!40000 ALTER TABLE `umamusumestats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id_UNIQUE` (`id`),
  UNIQUE KEY `email_UNIQUE` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (3,'Adi Nugroho','adi@nugroho.com','$2a$10$yUAlDeBPu1OQpaJTaZvOxOCNc5leM7xZztAAr6O.ot/9s1KJUUgZi'),(4,'Adi Nugroho','adinugroho@gmail.com','$2a$10$89G5AmNaqx6NMbbuQIqXYe9NdbeXOz4phJDVkZ6sXqT1qDdZEcLdu'),(5,'Sugeng Subagyo','sugeng@subagyo.com','$2a$10$pWdgml47zVFyWLZsUUCxruaReBj..2AzL/UN1auIwSDLpRA1Te/4m'),(6,'Hitori Bocchi','hitori@bocchi.com','$2a$10$bsL/Y1Qx063nEdyZcpoSde5wflTW2cnto.Vf1FQvKaVavxCrZVTHW'),(7,'Ikuyo Kita','ikuyo@kita.com','$2a$10$8IyyJ2yFX0kd/X0D.17evev/qgWV8/SJzwl8B.3hlwgNM5Sf3D1Ua');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_roles`
--

DROP TABLE IF EXISTS `users_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_roles` (
  `user_id` bigint NOT NULL,
  `role_id` bigint NOT NULL,
  KEY `FK2o0jvgh89lemvvo17cbqvdxaa` (`user_id`),
  KEY `FKj6m8fwv7oqv74fcehir1a9ffy` (`role_id`),
  CONSTRAINT `FK2o0jvgh89lemvvo17cbqvdxaa` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT,
  CONSTRAINT `FKj6m8fwv7oqv74fcehir1a9ffy` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_roles`
--

LOCK TABLES `users_roles` WRITE;
/*!40000 ALTER TABLE `users_roles` DISABLE KEYS */;
INSERT INTO `users_roles` VALUES (3,1),(4,1),(5,1),(6,1),(7,2);
/*!40000 ALTER TABLE `users_roles` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2023-06-18 21:04:24
